.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .container{
  background: white;
  border-radius: 15px;
  overflow: hidden;
  height: 90vh;
}

.user{
  background: #E9AAA6;
  height: fill;
  text-align: center
}

input{
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;}

.user div img{
  height: 150px;
  width: 150px;
  border-radius: 50%
}

.user div{
  padding: 30px 0;
}

.user div p{
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold
}

.user section p{
  font-size: 15px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
